/* Hides scroll bar*/
body{
    margin: 0;
}

/* Container taking up the full page */
.container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/* Game size */
.game{
    width: 600px;
    height: 600px;
    position: relative;
}

@media (max-width: 960px) {
    .game{
        width: 450px;
        height: 450px;
    }
}


@media (max-width: 800px) {
    .game{
        width: 450px;
        height: 450px;
    }
}

@media (max-width: 540px) {
    .game{
        width: 300px;
        height: 300px;
    }
}

/* Play area */
.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100%;
}

/* Button styling */
.board > button{
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 0;
}

/* Tic Tac Tow grid shape (4 lines) 30~0, 31~1 and so on*/
.\30 ,.\31 ,.\32 {
    border-top: 0px;
}
.\32 ,.\35 ,.\38 {
    border-right: 0px;
}
.\30 ,.\33 ,.\36 {
    border-left: 0px;
}
.\36 ,.\37 ,.\38 {
    border-bottom: 0px;
}

/* O style (circle)*/
.O{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    container-type: inline-size;
}

.O > .one{
    color: white;
    background-color: white;
    border-radius: 50%;
    border: 10cqi solid black;
    width: 50%;
    height: 50%;
}

/* X style made up of 2 dive, 1 for each stroke*/
.X > .one, .X > .two{
    position: relative;
    background-color: black;
    width: 100%;
    height: 10%;
    border-radius: 10px;
}

.X > .one{
    rotate: 45deg;
    top: 5%;
}
.X > .two{
    rotate: -45deg;
    bottom: 5%;
}

/* 
Winning Line styles 
l0 - top row
l1 - middle row
l2 - bottom row
l3 - left column
l4 - middle column
l5 - right column
l6 - diagonal (top left to bottom right)
l7 - diagonal (top right to bottom left)
*/
.l0{
    width: 100%;
    height: 33.33%;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.l0 > .line{
    width: 100%;
    height: 10%;
    background-color: black;
    border-radius: 10px;
}

.l1{
    width: 100%;
    height: 33.33%;
    position: absolute;
    top: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

}
.l1 > .line{
    width: 100%;
    height: 10%;
    background-color: black;
    border-radius: 10px;
}

.l2{
    width: 100%;
    height: 33.33%;
    position: absolute;
    top: 66.66%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

}
.l2 > .line{
    width: 100%;
    height: 10%;
    background-color: black;
    border-radius: 10px;
}

.l3{
    width: 33.33%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

}
.l3 > .line{
    width: 10%;
    height: 100%;
    background-color: black;
    border-radius: 10px;
}

.l4{
    width: 33.33%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

}
.l4 > .line{
    width: 10%;
    height: 100%;
    background-color: black;
    border-radius: 10px;
}

.l5{
    width: 33.33%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 66.66%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

}
.l5 > .line{
    width: 10%;
    height: 100%;
    background-color: black;
    border-radius: 10px;
}

.l6{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

}
.l6 > .line{
    width: 3.33%;
    height: 131.42%;
    rotate: -45deg;
    background-color: black;
    border-radius: 10px;
}

.l7{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

}
.l7 > .line{
    width: 3.33%;
    height: 131.42%;
    rotate: 45deg;
    background-color: black;
    border-radius: 10px;
}

